@import "tailwindcss";

@custom-variant dark (&:is(.dark, .dark *));

:root {
  font-family:
    Inter, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
  color-scheme: light;
}

:root.dark {
  color-scheme: dark;
}

html {
  min-height: 100%;
}

body {
  min-height: 100%;
  margin: 0;
}

#root {
  min-height: 100vh;
}